In [1]:
import pandas as pd

In [40]:
df = pd.read_csv('data/task_environments_2022-06-01_encoded_sequences.csv', header=0)

In [14]:
values = df['encoded_sequence'].value_counts().keys().tolist()
counts = df['encoded_sequence'].value_counts().tolist()

In [21]:
occurrences = {value: count for value, count in zip(values, counts) if int(count) > 1}

In [22]:
occurrences

{'dik': 12,
 'ikdp': 7,
 'dikp': 5,
 'ikpd': 5,
 'pkfsgcba': 4,
 'hhsgdb': 4,
 'diku': 3,
 'pkfsgcab': 3,
 'tnpzc': 2,
 'hhsdgb': 2,
 'dpik': 2,
 'dpki': 2,
 'idk': 2,
 'ikd': 2,
 'pbfkscga': 2,
 'ikdu': 2,
 'idkp': 2,
 'diuk': 2,
 'pfkscagb': 2,
 'dkub': 2,
 'dikb': 2,
 'dkp': 2,
 'pwkf': 2,
 'pkfsbgac': 2}

In [41]:
df = df.loc[df['encoded_sequence'].isin(occurrences.keys())].reset_index()

In [42]:
df = df.drop('Unnamed: 0', axis=1)

In [59]:
df[df.duplicated(subset=['encoded_sequence', 'coordinates', 'start_coordinates'], keep=False)]

,index,ID,sequence,coordinates,start_coordinates,strong_k,mid_k,food_k,containment,error,encoded_sequence
17,180,v3,"drink,drink,spoon,glass,cereal,bowl","drink: (0,4,1);spoon: (0,2,2);cereal: (0,1,3);...","[1,3,2],[0,4,1],[0,4,1],[0,2,2],[0,2,2],[0,1,3]",0,0,0,"drink,spoon,cereal,bowl,glass",0.723,hhsgdb
18,182,v5,"drink,drink,spoon,glass,cereal,bowl","drink: (0,4,1);spoon: (0,2,2);cereal: (0,1,3);...","[1,3,2],[0,4,1],[0,4,1],[0,2,2],[0,2,2],[0,1,3]",0,0,0,"drink,spoon,cereal,bowl,glass",0.723,hhsgdb
19,186,v9,"drink,drink,spoon,cereal,glass,bowl","drink: (0,4,1);spoon: (0,2,2);cereal: (0,1,3);...","[1,3,2],[0,4,1],[0,4,1],[0,2,2],[0,1,3],[0,2,2]",0,0,0,"drink,spoon,cereal,bowl,glass",0.723,hhsdgb
20,187,v10,"drink,drink,spoon,glass,cereal,bowl","drink: (0,4,1);spoon: (0,2,2);cereal: (0,1,3);...","[1,3,2],[0,4,1],[0,4,1],[0,2,2],[0,2,2],[0,1,3]",0,0,0,"drink,spoon,cereal,bowl,glass",0.723,hhsgdb
21,188,v11,"drink,drink,spoon,glass,cereal,bowl","drink: (0,4,1);spoon: (0,2,2);cereal: (0,1,3);...","[1,3,2],[0,4,1],[0,4,1],[0,2,2],[0,2,2],[0,1,3]",0,0,0,"drink,spoon,cereal,bowl,glass",0.723,hhsgdb
22,189,v12,"drink,drink,spoon,cereal,glass,bowl","drink: (0,4,1);spoon: (0,2,2);cereal: (0,1,3);...","[1,3,2],[0,4,1],[0,4,1],[0,2,2],[0,1,3],[0,2,2]",0,0,0,"drink,spoon,cereal,bowl,glass",0.723,hhsdgb
39,226,s22-d34,"ginger,cutting_board,knife","ginger: (2,2,2);cutting_board: (0,1.5,1);knife...","[1,0,2],[0,1.5,2],[0,1.5,2]",cutting_board,NaN,plate,"ginger,cutting_board,knife",NaN,dik
63,260,s27-d34,"ginger,cutting_board,knife","ginger: (2,2,2);cutting_board: (0,1.5,1);knife...","[1,0,2],[0,1.5,2],[0,1.5,2]",cutting_board,NaN,plate,"ginger,cutting_board,knife",NaN,dik